/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






.page-container{
    position: relative;
    float: left;
    background-image: url('images/background.jpeg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 500vh;
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.begining{
    max-height: 100vh;

    flex:1;
    display: flex;
    position: relative;
    float: left;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
}

.begining-div
{
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.begining-p1{
    width: 100%;
    top:45%;
    text-align: center;
    position: relative;
    float: left;
    font-size: 70px;
    
}

.begining-p2{
    position: relative;
    float: left;
    text-align: center;
    top:45%;

    font-size: 50px;
    width: 100%;
    
}

.begining-btn{
    position: relative;
    float: left;
    margin-top: 20px;
    width: fit-content;
    align-self: center;
    width:100px;
    height: 50px;
    background-color: white;
    border-radius: 10%;
    top:45%;
}

.begining-btn:hover, .contactForm button:hover{
    background-color: greenyellow;
    transform: rotate(360deg);
    transition-property: width height background-color font-size left top transform -webkit-transform color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    -webkit-transform: rotate(360deg);
    -webkit-transition-property: width height background-color font-size left top -webkit-transform transform color;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;

}

.NavBar{
    z-index: 1;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    top:0px;
    position: fixed;
    background: none;
    width: 100%;
    height: 60px;



}

.NavBar1{
    z-index: 1;

    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    height: 60px;
    top:0px;
    position: fixed;
    background: #333;
    width: 100%;
}

.logo{
    height: 50px;
    position: relative;
    width: fit-content;
    float: left;
    margin-top:10px;
    overflow: hidden;
    cursor: pointer;

}

.logo img{
    position: relative;

    height: 100%;

}

.NavLink{
    font-size: 23px;
    font-weight: 600;
    height: 100%;
    position: relative;
    width: fit-content;
    float: right;
    margin:20px;
    color:white;
    cursor: pointer;
}

.About{
    max-height: 100vh;

    position: relative;
    float: left;
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    flex: 1;
}

.About-cv-part{
    position: relative;
    float: left;
    width: 100%;
    margin-top:40px;
    align-content: center;
}

.About-title{
    width: 100%;
    text-align: center;
    position: relative;
    float: left;
    font-size: 50px;
}



.cv-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.cv-icon:hover{
    cursor: pointer;
}

.Atributes{
   display:flex;
   flex-direction: row;
   flex-wrap: nowrap;
    margin-top:50px;
    position: relative;
    float: left;
    width:100%;
}

.Atributes-left {
    flex: 1;
    position: relative;
    float: left;

}

.Atributes-right{
    flex: 1;
    position: relative;
    float: right;
    

}

.Atributes-right>div{
    position: relative;
    float: left;
    height:50%;
    width:90%;
    
}
.Atributes-left >div{
    position: relative;
    float: right;
    height:50%;
    width:90%;
}


.Atributes-img-left {
    float: right;
    height:80px;
}

.Atributes-img-right{
    float: left;
    height:80px;
}

.Atributes-p-right{
    width:100%;
    position: relative;
    float: left;
}

.Atributes-p-left{
    width:100%;
    position: relative;
    float: right;
    text-align: right;
}

.Atributes-myimg-div{
    flex: 1;
    position: relative;
    float: left;

}

.Atributes-myimg{
    display: block;
    position: relative;
    height:250px;
    margin-left: auto;
    margin-right: auto;
}

.Skills{
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    position: relative;
    float: left;
    display:flex;
    flex-direction: column;
    flex:1;
    max-height: 100vh;
}

.Skills p{
    position: relative;
    float: left;
    width:100%;
    text-align: center;
    font-size: 40px;
}

.Skills-div{
    position: relative;
    float: left;
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    height:100%;
}

.Skills-img{
    flex:1;
    position: relative;
    float: left;
    max-width: 200px;
    max-height: 200px;
    margin:10px;
}

.Projects{
    background: linear-gradient(to right, #D6A4A4, #DAE2F8);
    max-height: 100vh;

    flex:1;
}

.Projects p{
    position: relative;
    float: left;
    width:100%;
    text-align: center;
    font-size: 40px;
}


.Projects-imgContainer{
    flex:1;
    position: relative;
    float: left;
    max-width: 400px;
    max-height: 400px;
    margin:10px;
}


.Projects-imgContainer:hover .overlay{
    height: 50%;
box-shadow: 0px 0px 2px 2px #000066;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #780206;
    background: -webkit-linear-gradient(to right, #061161, #780206);
    background: linear-gradient(to right, #061161, #780206);
    opacity: 0.9;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}   


.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1;
}

.Projects img{
       width: 100%;
       height: 100%;
    
}

.Contact{
    max-height: 100vh;

    flex:1;
}

.Contact p {
    position: relative;
    float: left;
    width:100%;
    text-align: center;
    font-size: 40px;
}

.contactForm{
    display: block;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    
}
.contactForm input ,textarea{
    border-width: 5px;
    border-style: solid;
    border-color: #333;
    margin-bottom:30px;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
} 


.contactForm p{
    position: relative;
    width: 100%;
    font-size: 20px;
    margin:2px;
}

.contactForm button{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: fit-content;
    align-self: center;
    width:100px;
    height: 50px;
    background-color: white;
    border-radius: 10%;
}



.Message{
    min-height:100px;
    resize:both;
}